
/* sidebar */
.menu-lateral {

}

/* all links */


.menu-lateral ul {
    padding-left: 10px;
}

.menu-lateral > ul {
    padding-left: 0;
}
.menu-lateral ul li {
    list-style-type: none;
}
.menu-lateral ul>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
}

/* nested links */

.menu-lateral ul ul>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
}

/* active & hover links */

.menu-lateral ul>.active>a, .menu-lateral ul>li>a:hover, .menu-lateral ul>li>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #563d7c;
}

/* all active links */

.menu-lateral ul>.active>a, .menu-lateral ul>.active:hover>a, .menu-lateral ul>.active:focus>a {
    font-weight: 700;
}

/* nested active links */

.menu-lateral ul ul>.active>a, .menu-lateral ul ul>.active:hover>a, .menu-lateral ul ul>.active:focus>a {
    font-weight: 500;
}


ul.navbar-nav {
    margin: 0 10px;
}
