<section id="PageLivro">
    <header class="row">
        <div class="col-xs-6">
            <h2 ng-if="livro.id">{{livro.titulo}}</h2>
            <h2 ng-if="!livro.id">Novo Livro</h2>
        </div>

        <div class="col-xs-6 text-right">
            <button ng-click="verTodos()" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Ver Todos
            </button>
        </div>
    </header>

    <div class="alert alert-success alert-dismissible" role="alert" ng-show="alertSuccess.status">
        <button type="button" class="close" ng-click="alertSuccess.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Parabens!</strong> {{alertSuccess.msg}}
    </div>

    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="alertDanger.status">
        <button type="button" class="close" ng-click="alertDanger.status = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Atenção!</strong> {{alertDanger.msg}}
    </div>

    <form class="form-horizontal" name="formLivro" ng-submit="salvar()">
        <div class="form-group" ng-class="{'has-error': formLivro.titulo.$dirty && formLivro.titulo.$invalid}">
            <label for="titulo" class="col-sm-2 control-label">Titulo</label>
            <div class="col-sm-10">
                <input type="text" pattern="[A-Za-z]+" ng-model="livro.titulo" required class="form-control" id="titulo" name="titulo" placeholder="Titulo">
                <span ng-show="formLivro.titulo.$dirty && formLivro.titulo.$invalid" class="help-block">O Titulo deve conter apenas letras</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': formLivro.autor.$dirty && formLivro.autor.$invalid}">
            <label for="autor" class="col-sm-2 control-label">Autor</label>
            <div class="col-sm-10">
                <input type="text" pattern="[A-Za-z]+" ng-model="livro.autor" required class="form-control" id="autor" name="autor" placeholder="Autor">
                <span ng-show="formLivro.autor.$dirty && formLivro.autor.$invalid" class="help-block">O Autor deve conter apenas letras</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': formLivro.preco.$dirty && formLivro.preco.$invalid}">
            <label for="preco" class="col-sm-2 control-label">Preço</label>
            <div class="col-sm-10">
                <input type="number" required min="0" step=".01" ng-model="livro.preco" class="form-control" id="preco" name="preco" placeholder="Preço">
                <span ng-show="formLivro.preco.$dirty && formLivro.preco.$invalid" class="help-block">O Preço deve conter apenas números</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"
                ng-disabled="formLivro.$invalid">
                    <span ng-if="!livro.id">Cadastrar</span>
                    <span ng-if="livro.id">Salvar</span>
                </button>
            </div>
        </div>
    </form>
</section>
