<section id="PageLivros">
    <header class="row">
        <div class="col-xs-6">
            <h2>Livros</h2>
        </div>

        <div class="col-xs-6 text-right">
            <button ng-click="adicionar()" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Livro
            </button>
        </div>
    </header>

    <div class="alert alert-warning" role="alert" ng-if="livros.length < 1">
        <strong>Atenção!</strong> Você não ainda não possui livros cadastrados
    </div>

    <table class="table table-striped table-hover" ng-if="livros.length > 0">
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="livro in livros">
                <th scope="row">{{livro.id}}</th>
                <td>{{livro.titulo}}</td>
                <td>{{livro.autor}}</td>
                <td>{{livro.preco}}</td>
                <td>
                    <button type="button" ng-click="excluir(livro.id)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
